/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.InsertReturn
import io.swagger.client.model.SurveyList
import io.swagger.client.model.SurveyRequest
import io.swagger.client.model.SurveyResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object SurveyApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : SurveyList (successful operation)
   * 
   * @param token 
   */
  def surveysGet(token: String): ApiRequest[SurveyList] =
    ApiRequest[SurveyList](ApiMethods.GET, "https://virtserver.swaggerhub.com/goodspeed666/maan_customer/1.0.0", "/surveys", "application/json")
      .withHeaderParam("token", token)
      .withSuccessResponse[SurveyList](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 201 : InsertReturn (successful operation)
   * 
   * @param token 
   * @param body 
   */
  def surveysPost(token: String, body: Option[SurveyRequest] = None): ApiRequest[InsertReturn] =
    ApiRequest[InsertReturn](ApiMethods.POST, "https://virtserver.swaggerhub.com/goodspeed666/maan_customer/1.0.0", "/surveys", "application/json")
      .withBody(body)
      .withHeaderParam("token", token)
      .withSuccessResponse[InsertReturn](201)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : SurveyResponse (successful operation)
   * 
   * @param token 
   * @param id 
   * @param tid 
   */
  def surveysSidTidPost(token: String, id: Int, tid: Int): ApiRequest[SurveyResponse] =
    ApiRequest[SurveyResponse](ApiMethods.POST, "https://virtserver.swaggerhub.com/goodspeed666/maan_customer/1.0.0", "/surveys/{sid}/{tid}", "application/json")
      .withPathParam("id", id)
      .withPathParam("tid", tid)
      .withHeaderParam("token", token)
      .withSuccessResponse[SurveyResponse](200)
      

}

